<div class="row my-5">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card border-0 about">
      <div class="card-body my-3">
        <%= image_tag "database-64x64.png", class: "mx-auto d-block text-center mb-3" %>
        <h5 class="card-title text-center">Upgrade your Data Management</h5>
        <p class="card-text mt-3">Benefits of migrating data to an online database are:</p>
        <ol>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card border-0 about">
      <div class="card-body my-3">
        <%= image_tag "authorization-64x64.png", class: "mx-auto d-block text-center mb-3" %>
        <h5 class="card-title text-center">Authentication & Authorization</h5>
        <p class="card-text mt-3">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
</div>