<h4 class="heading mt-5">Register Interest</h4>
<p class="text-center mt-3">If you're interested in using this portal for your FMB organisation, you can contact the developer.
The developer is open to suggestions & feature requests.</p>

<div class="d-flex flex-column justify-content-evenly flex-md-row mt-4 mb-5 text-center">
    <%= contact_email %>
    <%= contact_whatsapp %>
    <%= contact_telegram %>
</div>
