<div id="contact" class="mx-auto mt-5 text-center">
  <div class="row">
    <div class="col heading fs-4">
      Connect with dev
    </div>
  </div>
  <div class="row mt-1">
    <div class="col hstack gap-3 justify-content-center">
    <%= fa_btn_gen "", "mailto:juzershakir.webdev@gmail.com", "fa-regular fa-envelope" %>
    <%= fa_btn_gen "", "https://wa.me/919819393148", "fa-brands fa-whatsapp" %>
    <%= fa_btn_gen "", "https://t.me/juzershakir", "fa-brands fa-telegram" %>
    </div>
  </div>
</div>