<div id="contact" class="mt-5 pb-5">
  <h4 class="heading">Register Interest</h4>
  <p class="text-center mt-3">If you're interested in using this portal for your FMB organisation, you can contact the developer.
The developer is open to suggestions & feature requests.</p>

  <div class="row justify-content-evenly mt-4 mb-5">
    <%= contact_email %>
    <%= contact_whatsapp %>
    <%= contact_telegram %>
  </div>
</div>
