<h4 class="text-center mt-5">Contact developer</h4>
<p class="text-center">If you're interested in using this portal for your FMB organisation or want more details
    or demostration of it, you can contact the developer:</p>

<div class="mt-4 mb-5 container col-lg-8 offset-lg-2 text-center">
    <%= link_to "Email", "#", class: "fw-bold button-contact btn btn-outline-info rounded-5 mb-3" %>
    <%= link_to "WhatsApp", "#", class: "fw-bold button-contact cm btn btn-outline-success rounded-5 mb-3" %>
    <%= link_to "Telegram", "#", class: "fw-bold button-contact cm btn btn-outline-primary rounded-5 mb-3" %>
</div>