<div class="container col-xl-5 col-lg-6 col-md-8 col-sm-9 pt-4 p-5 bg-white bg-opacity-50 shadow-lg border border-2 border-success-subtle rounded-4">
  <%= simple_form_for :sessions, url: signup_path do |f| %>
    <%= f.input :its, label: "ITS No.", as: :integer %>
    <%= f.input :password %>

    <%= f.button :submit, value: "Login" %>
  <% end %>
</div>
