<div class="note alert alert-warning alert-dismissible fade show col-sm-6 mx-auto fst-italic" role="alert">
    <div class="row">
        <div class="col-1">
            <i class="fa-solid fa-circle-exclamation fs-2"></i>
        </div>
        <div class="col">
            <ul class="m-0">
                <li>This site is for <strong>demostration purpose</strong> only & doesn't belong to any FMB org.</li>
                <li>The <strong>purpose</strong> of this website is to <strong>simplify</strong> the day-to-day tasks of FMB members.</li>
                <li>The <strong>data</strong> showcased here is <strong>fake</strong> & has <strong>no intention</strong> to leak personal info of any individual.</li>
            </ul>
        </div>
    </div>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
