<div class="note alert alert-warning alert-dismissible fade show text-center col-sm-6 mx-auto fst-italic" role="alert">
    <div class="row">
        <div class="col-1">
            <i class="fa-solid fa-circle-exclamation fs-2"></i>
        </div>
        <div class="col">
            <span>This site is for <strong>demostration purpose</strong> only & doesn't belong to any FMB org. </span>
            <span>The data showcased here is <strong>fake</strong> & has <strong>no intention</strong> to leak personal info of any individual.</span>
        </div>
    </div>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
