<% content_for :title, "Login" %>

<%# * Heading %>
<h2 class="heading fs-1">Faiz al-Mawaid al-Burhaniyah</h2>

<%# * Login Form %>
<%= render "form" %>

<%# * Footer %>
<%= render "shared/footer" %>
