<%# * Title %>
<h2 class="text-center">Faizul Mawaid il Burhaniyah</h2>

<%# * Notes %>
<div class="note alert alert-warning alert-dismissible fade show text-center col-sm-6 mx-auto fst-italic" role="alert">
    <span>This site is for <strong>demostration purpose</strong> only & doesn't belong to any FMB org. </span>
    <span>The data showcased here is <strong>fake</strong> & has <strong>no intention</strong> to leak personal info of any individual.</span>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<%# * Instructions %>
<div class="my-5 text-center text-secondary">
    <p class="mb-0">This is the common portal for Faizul Mawaid il Burhaniyah.</p>
    <p>Enter your credentials below to proceed.</p>
</div>

<%# * Login Form %>
<%= render partial: "form" %>

<%# * About %>
<%= render partial: "about" %>

<hr>

<%# * Contact Info %>
<%= render partial: "contact" %>

<%# * Footer %>
<%= render partial: "shared/footer" %>