<% content_for :title, "Login" %>

<%# * Heading %>
<div class="text-center">
  <%= image_tag("fmb-logo-full.png", alt: "FMB logo", id: "home__header-logo") %>
</div>

<%# * Login Form %>
<%= render "form" %>
