<%# * Title %>
<h2 class="text-center">Faizul Mawaid il Burhaniyah</h2>

<%# * Instructions %>
<div class="my-5 text-center text-secondary">
<p class="mb-0">This is the common portal for Faizul Mawaid il Burhaniyah.</p>
<p>Enter your credentials below to proceed.</p>
</div>

<%# * Login Form %>
<%= render partial: "form" %>


<div class="row my-5">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card rounded-5 shadow-lg">
      <div class="card-body my-3">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card rounded-5 shadow-lg">
      <div class="card-body my-3">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>

<%# * Footer %>
<%= render partial: "shared/footer" %>