<%# * Title %>
<h2 class="heading">Faizul Mawaid il Burhaniyah</h2>

<%# * Login Form %>
<%= render partial: "form" %>

<%# * Contact Info %>
<%= render partial: "contact" %>

<%# * About %>
<%= render partial: "about" %>

<%# * Footer %>
<%= render partial: "shared/footer" %>
