#home {
	background-image: linear-gradient(
			rgba(255, 255, 255, 0.75),
			rgba(255, 255, 255, 0.75)
		),
		url(home-bg.png);
	background-size: cover;
	background-position: center;
	padding: 2.5rem 8rem;

	&__header-logo {
		width: 14rem;
		height: 5.5rem;

		@media (min-width: 380px) {
			width: 20rem;
			height: 8rem;
		}
	}

	&__body {
		margin-top: 22rem;
		letter-spacing: -0.05rem;

		//  use max-height to position element with respect to device viewport height
		@include respond_to_height(tab-medium) {
			margin-top: 18rem;
		}

		@include respond_to_height(tab-small) {
			margin-top: 14rem;
		}

		@include respond_to_height(phone-large) {
			margin-top: 12rem;
		}

		@include respond_to_height(phone-medium) {
			margin-top: 7rem;
		}

		@include respond_to_height(phone-small) {
			margin-top: 5.5rem;
		}

		&_cta {
			margin-top: 1.5rem;

			@include respond_to_height(phone-large) {
				margin-top: 1rem;
			}

			color: $teal-200;
			background-image: linear-gradient(
				to right,
				$primary 0%,
				$success 25%,
				$secondary 50%,
				$success 75%,
				$primary 100%
			);
			transition: 1s;
			animation: slide_bg 2s alternate infinite;
			background-size: 200% auto;

			&:hover {
				color: $green-100;
				box-shadow:
					0 12px 16px 0 rgba(0, 0, 0, 0.24),
					0 17px 50px 0 rgba(0, 0, 0, 0.19);
				text-decoration: none;
			}

			&:active {
				box-shadow: none;
			}
		}
	}
}

// source for breakpoints: https://getbootstrap.com/docs/5.3/layout/breakpoints/#core-concepts
// * 1399.98px (xxl)
@include media-breakpoint-down(xxl) {
	#home {
		padding: 2.5rem 7rem;
	}
}

// * 1199.98px (xl)
@include media-breakpoint-down(xl) {
	#home {
		padding: 2.5rem 6rem;
	}
}

// * 991.98px (lg)
@include media-breakpoint-down(lg) {
	#home {
		padding: 2.2rem 5rem;
	}
}

// * 767.98px (md)
@include media-breakpoint-down(md) {
	#home {
		padding: 2rem 3rem;
	}
}

// * 575.98px (sm)
@include media-breakpoint-down(sm) {
	#home {
		padding: 1.5rem 2rem;
	}
}
