#sabeels,
#thaalis,
#transactions,
#users {
	.row {
		transition: background-color 0.4s ease-in-out;

		&:not(:last-child) {
			border-bottom: 2px solid $secondary;
		}

		&:hover,
		&:active {
			background-color: #e4e2b2;
			font-size: 1.06rem;
		}
	}
}
