<div id="show-user" class="col-lg-5 mx-auto mt-5 rounded-5 shadow bg-body-tertiary rounded py-4">
    <div class="row pb-3">
        <div class="col fw-bold text-end">
            <span>Name</span>
        </div>
        <div class="col">
            <%= @user.name %>
        </div>
    </div>
    <div class="row py-3">
        <div class="col fw-bold text-end">
            <span>ITS</span>
        </div>
        <div class="col">
            <%= @user.its %>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col fw-bold text-end">
            <span>Role</span>
        </div>
        <div class="col">
            <%= "role" %>
        </div>
    </div>
</div>