<div id="users">
  <% @users.each do | user | %>
    <div id="<%= dom_id(user) %>" class="row py-3">
      <div class="col">
        <%= link_to user.name, user_path(user), class: "btn btn-outline-primary btn-sm px-sm-2 px-lg-4" %>
      </div>
      <div class="col fw-bold text-danger">
        <%= user.roles_name.first.capitalize %>
      </div>
    </div>
  <% end %>
</div>
