<div class="container">
  <% @users.each do | user | %>
    <%= link_to(user, id: dom_id(user), class: "row py-3 link-underline link-underline-opacity-0") do %>
      <span class="col fw-medium"><%= user.name %></span>

      <strong class="col fw-bold text-danger">
        <%= user.roles_name.first.capitalize %>
      </strong>
    <% end %>
  <% end %>
</div>
