<section id="user" class="position-relative col-xxl-3 col-lg-4 col-md-6 col-sm-7 col-9 rounded-4 shadow mx-auto mt-3 py-3 px-4 text-warning">
  <aside id="user-its-logo" class="z-0 position-absolute"></aside>

  <header class="row pb-3">
    <h1 class="col heading fs-2 text-secondary">
      <%= @user.its %>
    </h1>
  </header>

  <div class="row pb-3">
    <strong class="z-1 col text-truncate">
      <% fa_gen(@user.name, "fa-user", space: true) %>
    </strong>
  </div>

  <div class="row">
    <em class="z-1 col fw-bold fst-normal">
      <% fa_gen(@user.role.capitalize, "fa-eye", space: true) %>
    </em>
  </div>
</section>
