<%# * Title %>
<h2 class="heading">All Users</h2>

<%# * show all users %>
<div class="col-lg-5 mt-5 container text-center shadow rounded-4 c-bg">
  <% if @users.any? %>
    <%= render partial: "theader" %>
    <%= render "users" %>
  <% else %>
    <%= render partial: "shared/no_results" %>
  <% end %>
</div>
