<%# * Title %>
<h2 class="text-center">All Users</h2>

<%# * show all users %>
<div id="all-users" class="col-lg-5 mt-5 container text-center shadow rounded-4 pb-4 c-bg">
    <% if @users.any? %>
        <%= render partial: "theader" %>
        <%= render partial: "user_content" %>
    <% else %>
        <%= render partial: "shared/no_results" %>
    <% end %>
</div>
