<% content_for :title, "Users" %>

<%# * Heading %>
<h2 class="heading">All Users</h2>

<%# * show all users %>
<% if @users.any? %>
  <section id="users" class="col-lg-5 text-center border border-4 border-secondary shadow rounded-4 bg-white bg-opacity-75 mt-5 mx-auto">
    <%= render "theader" %>
    <%= render "users" %>
  <% else %>
    <%= render "shared/no_results" %>
  </div>
<% end %>
