<%# * Title %>
<h2 class="text-center">All Users</h2>

<%# * show all users %>
<div id="users" class="mt-5 container text-center">
    <% if @users.any? %>
        <%= render partial: "theader" %>
        <%= render partial: "user_content" %>
    <% else %>
        <%= render partial: "shared/no_results" %>
    <% end %>
</div>