<%# * Title %>
<h2 class="text-center">All Users</h2>

<%# * show all users %>
<div id="users" class="mt-5 container text-center">
    <%= render partial: "theader" %>
    <%= render partial: "user_content" %>
</div>