<%# locals: (roles: Role.all.map { [it.name.capitalize, it.id] }) %>

<% content_for :title, "New User" %>

<% content_for :heading do %>
  <h2>New User</h2>
<% end %>

<%# * Sign Up form %>
<%= render "form", roles: %>
