<%# locals: (roles: Role.all.map { [_1.name.capitalize, _1.id] }) %>

<% content_for :title, "New User" %>

<%# * Title %>
<h2 class="heading mb-3">New User</h2>

<%# * Sign Up form %>
<%= render "form", roles: %>
