<%# * Title %>
<h2 class="heading">Show User</h2>

<%# * show %>
<%= render @user %>

<%# * action buttons %>
<div class="col-5 col-md-4 col-lg-3 col-xl-2 vstack gap-2 mx-auto mt-5 fs-6">
  <% if current_user.id == @user&.id %>
    <%= link_to "Edit", edit_user_path(@user), class: "btn btn-info" %>
  <% end %>

  <!-- DESTROY Button triggers destroy modal -->
  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#destroyModal">
    Delete
  </button>
  <%# * destroy Modal %>
  <%= render partial: "shared/destroy_modal", locals: {destroy: @user} %>
</div>

<%# * back button %>
<%= render partial: "shared/back" %>
