<div class="vstack gap-2 col-sm-3 mx-auto mt-5">
  <%= link_to "Edit", edit_path, class: "btn btn-info" %>

  <!-- DESTROY Button trigger modal -->
  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#destroyModal">
    Delete
  </button>
</div>

<%# * back button %>
<%= render partial: "shared/back" %>