<div class="vstack gap-2 col-md-2 mx-auto mt-5">
  <%= link_to "Edit", edit_path, class: "btn btn-outline-info" %>

  <!-- DESTROY Button trigger modal -->
  <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#destroyModal">
    Delete
  </button>
</div>