<% unless current_user.is?("viewer") %>
  <div class="col-5 col-md-4 col-lg-3 col-xl-2 vstack gap-2 mx-auto mt-5 fs-6">
    <%= link_to "Edit", edit_path, class: "btn btn-info" %>

    <!-- DESTROY Button triggers destroy modal -->
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#destroyModal">
      Delete
    </button>
  </div>

  <%# * destroy Modal %>
  <%= render partial: "shared/destroy_modal", locals: {destroy:} %>
<% end %>

<%# * back button %>
<%= render partial: "shared/back" %>
