<nav class="col-5 col-md-4 col-lg-3 col-xl-2 vstack gap-2 mx-auto mt-5">
  <%= link_to "Edit", {controller: params[:controller], action: "edit"}, class: "btn btn-info" %>

  <!-- DESTROY Button triggers destroy modal -->
  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#destroyModal">
    Delete
  </button>

  <%# * destroy Modal %>
  <%= render "shared/destroy_modal", instance: %>
</nav>
