<span id="contact" class="nav-item dropdown">
  <a class="link-info link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover"
    href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Contact
  </a>

  <ul class="dropdown-menu rounded-5 p-3">
    <div class="hstack gap-3">
      <%= fa_btn_gen "", "mailto:juzershakir.webdev@gmail.com", "fa-regular fa-envelope" %>
      <%= fa_btn_gen "", "https://wa.me/919819393148", "fa-brands fa-whatsapp" %>
      <%= fa_btn_gen "", "https://t.me/juzershakir", "fa-brands fa-telegram" %>
    </div>
  </ul>
</span>
