<!-- Modal -->
<aside class="modal fade" id="destroyModal" tabindex="-1" aria-labelledby="destroyModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <section class="modal-content">
      <header class="modal-header">
        <h1 class="modal-title fs-5" id="destroyModalLabel">Confirm Deletion</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </header>
      <p class="modal-body mb-0">
        Are you sure you want to
        <strong class="fw-bold">delete
          <%= (current_user == @user) ? "your account" : "this #{instance.class.name}" %>?
        </strong>
        <em>This action cannot be undone.</em>
      </p>
      <footer class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
        <%= button_to "Yes, delete it!", instance, method: :delete, data: {turbo_submits_with: "Deleting..."}, class: "btn btn-danger" %>
      </footer>
    </section>
  </div>
</aside>
