<% if flash.any? %>
  <div id="flash" data-controller="autohide" class="z-2 position-absolute bg-primary fs-5 p-3 rounded-5">
    <% flash.each do |name, msg| %>
      <%= render_flash_message(name, msg) %>
    <% end %>
  </div>
<% end %>
