<% if flash.any? %>
    <div id="flash" data-controller= "autohide">
      <% flash.each do |name, msg| %>
        <% msg.prepend(name.to_s.capitalize.concat("! ")) %>
        <%= content_tag :div, msg, id: "flash-#{name}" %>
      <% end %>
    </div>
<% end %>