<footer id="footer" class="fixed-bottom bg-primary text-center text-info fw-lighter py-3">
  <div class="hstack gap-5 justify-content-center mb-2 fs-5">
    <%= render "shared/contact" %>
    <a href="https://www.thedawoodibohras.com/about-the-bohras/faiz-al-mawaid-al-burhaniyah/"
      class="link-info link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover"
      target="_blank">
      About
    </a></li>
  </div>
  <small>
    <i class="fa-regular fa-copyright"></i>
    <%= Date.current.year %>
    | Developed & Designed with
    <i class="fa-regular fa-heart"></i> by
    <a href="https://juzershakir.github.io/"
      class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
      target="_blank">Juzer Shakir
    </a>
  </small>
</footer>
