<div id="home">
  <div id="home__header" class="text-center">
    <%= image_tag("fmb-logo-full.png", width: "320", height: "130", alt: "FMB logo", id: "home__header-logo") %>
  </div>

  <div id="home__body">
    <h5 id="home__body_primary-heading" class="heading text-start text-uppercase text-primary">Thaali tracking, simplified</h5>
    <h2 id="home__body_secondary-heading" class="heading text-start text-secondary">Manage your thaalis & transactions effortlessly with real-time statistics</h2>

    <%= link_to "Free demo", login_path, id: "home__body_cta", class: "btn rounded-pill border border-0 fs-5 px-4 py-2" %>
  </div>
</div>
