<% @thaalis.each do |thaali| %>
  <div class="row py-2">
    <div class="col">
      <%= link_to thaali.number, thaali, class: "btn btn-outline-primary btn-sm px-4" %>
    </div>
    <div class="col text-info fw-bold text-truncate">
      <%= thaali.sabeel.name %>
    </div>
    <div class="col text-danger">
      <%= rupees thaali.balance %>
    </div>
  </div>
<% end %>
