<% @thaalis.each do |thaali| %>
  <div class="row py-3 border-bottom border-light">
    <div class="col">
      <%= button_to thaali.number, thaali_path(thaali), method: :get, class: "btn btn-outline-primary btn-sm px-3" %>
    </div>
    <div class="col fw-bold text-truncate">
      <%= thaali.sabeel.name %>
    </div>
    <div class="col text-secondary">
      <%= render partial: "shared/thaali_complete", locals: {thaali:} %>
    </div>
  </div>
<% end %>
