<% @thaalis.each do |thaali| %>
  <div class="row py-3 border-bottom border-light">
    <div class="col">
      <%= button_to thaali.number, thaali, method: :get, class: "btn btn-outline-primary btn-sm px-3" %>
    </div>
    <div class="col text-truncate">
      <%= thaali.sabeel.name %>
    </div>
    <div class="col text-danger">
      <%= rupees thaali.balance %>
    </div>
  </div>
<% end %>
