<div class="row py-2 fs-5 bg-secondary rounded-top heading">
  <div class="col-3 col-md-4">
    <th><%= @q.present? ? sort_link(@q, :number, "Thaali", default_order: :desc) : "Thaali" %></th>
  </div>
  <div class="col-6 col-md-4">
      <th>Name</th>
  </div>
  <div class="col-3 col-md-4">
    <th>Balance</th>
  </div>
</div>
