<table class="table mb-0">
  <thead class="rounded-top-3 heading fs-5 py-2">
    <tr>
      <th class="col-3 col-md-4">
        <%= @q.present? ? sort_link(@q, :number, "Thaali", default_order: :desc) : "Thaali" %>
      </th>
      <th class="col-6 col-md-4">Name</th>
      <th class="col-3 col-md-4">Balance</th>
    </tr>
  </thead>
</table>
