<div class="row py-2 fs-5 fw-semibold bg-secondary rounded-top heading">
  <div class="col">
    <th><%= @q.present? ? sort_link(@q, :number, "Thaali", default_order: :desc) : "Thaali" %></th>
  </div>
  <div class="col">
      <th>Name</th>
  </div>
  <div class="col">
    <th>Balance</th>
  </div>
</div>
