<%# * Title %>
<h2 class="heading">Thaalis in <span class="text-secondary"><%= @year.to_s %></span> </h2>

<%# * show all thaalis %>
<%= render partial: "shared/results", locals: {
  instances: @thaalis,
  model: "thaalis",
  path: thaalis_all_path(format: :turbo_stream)
} %>
