<% content_for :title, "Thaalis in #{@year}" %>

<% content_for :heading do %>
  <h2>Thaalis in <em class="text-secondary"><%= @year %></em></h2>
<% end %>

<%# * search %>
<%= render "shared/search", attr_name: "Thaali no.", url: thaalis_all_path(@year), search: :number_eq %>

<%# * show all thaalis %>
<%= render "shared/results", instances: @thaalis, model: "thaalis", url: thaalis_all_path(format: :turbo_stream, q: params[:q]&.to_unsafe_h) %>
