<%# * Title %>
<h2 class="text-center">Completed Takhmeens in <span class="text-secondary"> <%= @year.to_s %></span> </h2>

<%# * show all Completed Takhmeens %>
<%= render partial: "shared/results", formats: :html,
      locals: {id: "thaalis", path: thaalis_complete_path(format: :turbo_stream)} %>
