<% content_for :title, "Completed Takhmeens in #{@year}" %>

<% content_for :heading do %>
  <h2>Completed Takhmeens in <em class="text-secondary"><%= @year %></em></h2>
<% end %>

<%# * show all Completed Takhmeens %>
<%= render "shared/results", model: "thaalis", url: thaalis_complete_path(format: :turbo_stream) %>
