<% content_for :title, "Completed Takhmeens in #{@year}" %>

<%# * Heading %>
<h2 class="heading">Completed Takhmeens in <em class="text-secondary"><%= @year %></em></h2>

<%# * show all Completed Takhmeens %>
<%= render "shared/results", model: "thaalis", url: thaalis_complete_path(format: :turbo_stream) %>
