<% content_for :title, "Thaalis" %>

<%# * Title %>
<h2 class="heading">Thaalis in <span class="text-secondary"><%= CURR_YR %></span></h2>

<%# * search %>
<%= render "shared/search", attr_name: "Thaali no.", url: root_path, search: :number_eq %>

<%# * show all Current Year Thaalis %>
<%= render "shared/results", model: "thaalis", url: root_path(format: :turbo_stream, q: params[:q]&.to_unsafe_h) %>
