<% content_for :title, "Pending Takhmeens in #{@year}" %>

<%# * Title %>
<h2 class="heading">Pending Takhmeens in <span class="text-secondary"> <%= @year.to_s %></span> </h2>

<%# * show all Pending Takhmeens %>
<%= render "shared/results", model: "thaalis", url: thaalis_pending_path(format: :turbo_stream) %>
