<section class="m-0 position-absolute top-50 start-50 translate-middle">
  <h1 class="heading fs-bigger text-danger">500</h1>

  <em class="fs-3 text-danger-emphasis">The server encountered an unexpected error!</em>
</section>
