<div class="m-0 position-absolute top-50 start-50 translate-middle">
  <p class="heading fs-bigger text-danger">500</p>

  <p class="fs-3 fst-italic text-danger-emphasis">The server encountered an unexpected error!</p>
</div>
