<section class="m-0 position-absolute top-50 start-50 translate-middle">
  <h1 class="heading fs-bigger text-danger">404</h1>

  <em class="fs-3 text-danger-emphasis">The page you're looking for doesn't exist!</em>
</section>
