$primary: #1f2605 !default;
$secondary: #53900f !default;
$info: #a4a71e !default;
$success: #1f6521 !default;
$danger: #6f2232 !default;
$dropdown-bg: $primary !default;
$light: #d6ce15 !default;
$lighter: #cac886 !default;
