// * Form defaults
$input-color: $secondary;
$input-placeholder-color: $lighter;
$input-font-weight: 500;
$input-border-color: $light;
$input-focus-border-color: $secondary;
$input-border-width: 2px;
$form-check-input-checked-bg-color: $success;
$form-check-input-checked-border-color: $success;

// * Table defaults
$table-bg: $secondary;
