<div id="show-header-sabeel" class="row py-2 fw-semibold rounded-4 border-bottom border-2 border-warning rounded-bottom">
    <div class="col">
        <th>Flat</th>
    </div>
    <div class="col text-start">
        <th>Name</th>
    </div>
    <div class="col">
        <th>Thaali</th>
    </div>
    <div class="col">
        <th>Size</th>
    </div>
</div>
