<% @sabeels.each do |sabeel| %>
  <div id="<%= dom_id(sabeel) %>" class="row py-2">
    <div class="col-7 text-truncate fw-medium">
      <%= link_to sabeel.name, sabeel, class: "link-primary link-offset-2 link-underline link-underline-opacity-25 link-underline-opacity-75-hover" %>
    </div>
    <div class="col text-info">
      <%= sabeel.apartment.titleize %>
    </div>
  </div>
<% end %>
