<% @sabeels.each do |sabeel| %>
  <div class="row py-2">
    <div class="col">
      <%= link_to sabeel.its, sabeel, class: "btn btn-outline-primary btn-sm px-sm-2 px-lg-4" %>
    </div>
    <div class="col text-truncate text-info fw-medium">
      <%= sabeel.name %>
    </div>
    <div class="col text-info">
      <%= sabeel.apartment.titleize %>
    </div>
  </div>
<% end %>
