<% @sabeels.each do |sabeel| %>
  <%= link_to(sabeel, id: dom_id(sabeel), class: "row py-2 link-underline link-underline-opacity-0") do %>
    <span class="col-7 col-md-6 text-truncate fw-medium">
      <%= highlight(sabeel.name, params.dig(:q, :slug_or_name_cont)) %>
    </span>
    <address class="col text-info mb-0">
      <%= sabeel.apartment.titleize %>
    </address>
  <% end %>
<% end %>
