<% @sabeels.each do |sabeel| %>
  <div class="row py-3">
    <div class="col">
      <%= button_to sabeel.its, sabeel, method: :get, class: "btn btn-outline-primary btn-sm px-3" %>
    </div>
    <div class="col text-truncate">
      <%= sabeel.name %>
    </div>
    <div class="col text-secondary">
      <%= sabeel.apartment.titleize %>
    </div>
  </div>
<% end %>
