<div id="show-sabeel" class="col-md-5 mx-auto mt-5 rounded-5 shadow bg-body-tertiary rounded fs-5 py-4 pe-4">
    <div class="row py-3">
        <div class="col fw-bold text-end">
            <span>Name</span>
        </div>
        <div class="col">
            <%= @sabeel.hof_name %>
        </div>
    </div>
    <div class="row py-3">
        <div class="col fw-bold text-end">
            <span>Address</span>
        </div>
        <div class="col">
            <%= @sabeel.address %>
        </div>
    </div>
    <div class="row align-items-center py-3">
        <div class="col fw-bold text-end">
            <span>Contact info:</span>
        </div>
        <div class="col fst-italic text-secondary">
            <div class="row ps-2">
                <%= @sabeel.mobile %>
            </div>
            <div class="row ps-2 mt-2 fs-6">
                <%= @sabeel.email %>
            </div>
        </div>
    </div>
</div>