<div id="show-sabeel" class="col-lg-5 mx-auto mt-5 rounded-5 shadow bg-body-tertiary rounded py-4 px-4">
    <div class="row pb-3">
        <div class="col fw-bold text-end">
            <span>Name</span>
        </div>
        <div class="col">
            <%= @sabeel.name %>
        </div>
    </div>
    <div class="row py-3">
        <div class="col fw-bold text-end">
            <span>Address</span>
        </div>
        <div class="col">
            <%= @sabeel.address %>
        </div>
    </div>
    <hr>
    <div class="row fst-italic text-secondary text-center">
        <div class="col">
            <%= @sabeel.mobile %>
        </div>
        <div class="col">
            <%= @sabeel.email %>
        </div>
    </div>
</div>
