<div id="show-header-sabeel" class="row py-2 fs-5 fw-semibold">
    <div class="col">
        <th>ITS</th>
    </div>
    <div class="col">
        <th>Name</th>
    </div>
    <div class="col">
        <th>Apartment</th>
    </div>
</div>