<%# * Title %>
<h2 class="heading">Active Sabeels: <span class="text-secondary"><%= @apt.titleize %></span> </h2>

<%# * Generate PDF %>
<div class="mt-4 text-center">
  <%= button_to pdf_button,
        sabeels_active_path(@apt, format: :pdf), method: :get, form: {target: "_blank"},
        class: "btn btn-primary" %>
</div>

<%# * show all sabeels %>
<%= render partial: "shared/results",
      locals: {model: "sabeels", path: sabeels_active_path(format: :turbo_stream)} %>
