<%# * Title %>
<h2 class= "text-center">Active Sabeels for <%= "#{@apt.titleize}" %></h2>

<%# * show all sabeels %>
<%= render partial: "shared/results",
    locals: { instances: @sabeels, id: "sabeels", path: sabeels_active_path(format: :turbo_stream) } %>