<%# * Title %>
<h2 class="heading">Active Sabeels: <span class="text-secondary"><%= @apt.titleize %></span></h2>

<%# * Generate PDF %>
<div class="row justify-content-evenly mt-5">
  <%= fa_btn_gen "Generate PDF", sabeels_active_url(@apt, format: :pdf), "fa-file-pdf fa-lg" %>
</div>

<%# * show all sabeels %>
<%= render partial: "shared/results",
      locals: {model: "sabeels", path: sabeels_active_path(format: :turbo_stream)} %>
