<% content_for :title, "Active Sabeels - #{@apt.titleize}" %>

<%# * Title %>
<h2 class="heading">Active Sabeels: <span class="text-secondary"><%= @apt.titleize %></span></h2>

<%# * Generate PDF %>
<div class="hstack justify-content-center mt-3 heading">
  <%= fa_btn_gen "Generate PDF", sabeels_active_url(@apt, format: :pdf), "fa-file-pdf fa-lg" %>
</div>

<%# * show all sabeels %>
<%= render "shared/results", model: "sabeels", url: sabeels_active_path(format: :turbo_stream) %>
