<%# * Title %>
<h2 class="heading">Active Sabeels: <span class="text-secondary"><%= @apt.titleize %></span></h2>

<%# * Generate PDF %>
<div class="row justify-content-evenly mt-5">
  <%= generate_pdf_of @apt %>
</div>

<%# * show all sabeels %>
<%= render partial: "shared/results",
      locals: {model: "sabeels", path: sabeels_active_path(format: :turbo_stream)} %>
