<% content_for :title, "Active Sabeels - #{@apt.titleize}" %>

<% content_for :heading do %>
  <h2>Active Sabeels: <em class="text-secondary"><%= @apt.titleize %></em></h2>
<% end %>

<%# * Generate PDF %>
<nav class="hstack justify-content-center heading">
  <%= fa_btn_gen "Generate PDF", sabeels_active_url(@apt, format: :pdf), "fa-file-pdf fa-lg" %>
</nav>

<%# * show all sabeels %>
<%= render "shared/results", model: "sabeels", url: sabeels_active_path(format: :turbo_stream) %>
