<% content_for :title, "Inactive Sabeels - #{@apt.titleize}" %>

<%# * Title %>
<h2 class="heading">Inactive Sabeels: <span class="text-secondary"><%= @apt.titleize %></span></h2>

<%# * show all sabeels %>
<%= render "shared/results", model: "sabeels", url: sabeels_inactive_path(format: :turbo_stream) %>
