<%# * Title %>
<h2 class= "text-center">Inactive Sabeels: <span class="text-secondary"><%= "#{@apt.titleize}" %></span> </h2>

<%# * No. of Inactive Sabeels %>
<p class="fs-5 mt-5 fw-bold text-info text-center">Total number of Inactive Sabeels: <%= @total %></p>

<%# * show all sabeels %>
<%= render partial: "shared/results",
    locals: { instances: @sabeels, id: "sabeels", path: inactive_sabeels_path(format: :turbo_stream) } %>