<%# * Title %>
<h2 class= "text-center">All Sabeels</h2>

<p class="mt-3 fw-bold text-center text-info">Total number of Sabeels: <%= Sabeel.count %></p>

<%# * search %>
<%= render partial: "shared/search", locals: { message: "HOF Name or ITS No." ,
        path: all_sabeels_path, search: :hof_name_or_its_cont } %>

<%# * show all sabeels %>
<%= render partial: "shared/results",
    locals: { instances: @sabeels, id: "sabeels", path: all_sabeels_path(format: :turbo_stream, q: params[:q]&.to_unsafe_h) } %>