<%# * Title %>
<h2 class="text-center">Sabeels</h2>

<%# * search %>
<%= render partial: "shared/search",
  locals: {message: "Name or ITS Nnumber.", path: sabeels_path, search: :name_or_its_cont }
%>

<%# * show all sabeels %>
<%= render partial: "shared/results", locals: {
  id: "sabeels",
  path: sabeels_path(format: :turbo_stream, q: params[:q]&.to_unsafe_h)
} %>
