<%# * Title %>
<h2 class="heading">Sabeels</h2>

<%# * search %>
<%= render partial: "shared/search",
      locals: {attr_name: "Name", path: sabeels_path, search: :name_cont} %>

<%# * show all sabeels %>
<%= render partial: "shared/results",
      locals: {model: "sabeels", path: sabeels_path(format: :turbo_stream, q: params[:q]&.to_unsafe_h)} %>
