<p><%= @sabeel.its %></p>
<p><%= @sabeel.apartment %></p>

<p>Total Takhmeens <%= @thaalis.count %></p>

<% if @thaali_inactive %>
    <%= link_to "New Takhmeen", new_sabeel_takhmeen_path(@sabeel.slug) %>
<% end %>