.create-sabeel-btn {
	background-image: linear-gradient(
		to right,
		$primary 0%,
		$success 51%,
		$secondary 100%
	);
	transition: 0.7s;
	background-size: 200% auto;

	&:hover {
		background-position: right center;
		color: white;
		text-decoration: none;
	}
}

// styles defined here will take precedence over the in-line styles defined
.default-btn {
	@extend .col-7;
	@extend .col-md-3;
	@extend .btn;
	@extend .rounded-pill;
	@extend .fw-medium;
	@extend .mb-3;
}

mark {
	padding: 0 !important;
	color: $success !important;
	background-color: $lighter !important;
}

#contact menu {
	margin-left: -3.5rem !important;
}
