<div id="show-header-transaction" class="row py-2 fs-5 fw-semibold rounded-4 border-bottom border-2 border-success rounded-bottom">
    <div class="col">
        <th>Recipe</th>
    </div>
    <div class="col">
        <th>Amount</th>
    </div>
    <div class="col">
        <th>Thaali</th>
    </div>
    <div class="col">
        <th>Billed</th>
    </div>
</div>