<div id="show-header-transaction" class="row py-2 fs-5 fw-semibold">
    <div class="col">
        <th>Recipe No.</th>
    </div>
    <div class="col">
        <th>Amount</th>
    </div>
    <div class="col">
        <th>Thaali No.</th>
    </div>
    <div class="col">
        <th>Billed</th>
    </div>
</div>