<div class="row py-2 fs-5 fw-semibold border-bottom-0 bg-secondary heading">
  <div class="col">
    <th>Recipe</th>
  </div>
  <div class="col">
    <th>Amount</th>
  </div>
  <div class="col">
    <th>Thaali</th>
  </div>
  <div class="col">
    <th>Billed</th>
  </div>
</div>
