<table class="table mb-0">
  <thead class="rounded-top-3 heading fs-5 py-2">
    <tr>
      <th class="col-4">Receipt</th>
      <th class="col-4">Amount</th>
      <th class="col-4">Billed</th>
    </tr>
  </thead>
</table>
