<%# * Title %>
<h2 class="heading">Transactions</h2>

<%# * search %>
<%= render partial: "shared/search",
      locals: {attr_name: "Recipe no.", path: transactions_all_path, search: :slug_start} %>

<%# * show all transactions %>
<%= render partial: "shared/results",
      locals: {model: "transactions", path: transactions_all_path(format: :turbo_stream, q: params[:q]&.to_unsafe_h)} %>
