<% content_for :title, "Transactions" %>

<%# * Heading %>
<% content_for :heading do %>
  <h2>Transactions</h2>
<% end %>

<%# * search %>
<%= render "shared/search", attr_name: "Recipe no.", url: transactions_all_path, search: :slug_start %>

<%# * show all transactions %>
<%= render "shared/results", model: "transactions", url: transactions_all_path(format: :turbo_stream, q: params[:q]&.to_unsafe_h) %>
