<%# locals: (total_balance: @transaction.thaali_balance + @transaction.amount_was) -%>

<h2 class="heading mb-3">Edit Transaction</h2>

<%= render "form", url_helper: transaction_path, total_balance: %>
