<%# locals: (total_balance: @transaction.thaali_balance + @transaction.amount_was) -%>

<% content_for :title, "Edit Transaction" %>

<% content_for :heading do %>
  <h2>Edit Transaction</h2>
<% end %>

<%= render "form", url: transaction_path, total_balance: %>
