<h1>All Transactions</h1>

<% @transactions.each do |transaction| %>
    <%= link_to transaction.recipe_no, transaction_path(transaction) %>
    <%= transaction.amount %>
    <%= transaction.mode %>
    <%= transaction.on_date %>
    <br>
<% end %>