<%# * Title %>
<h1 class= "text-center">All Transactions</h1>


<%# * search %>
<div id="search" class="col-md-4 offset-md-4 mt-5" role="search">
    <%= search_form_for @q, data: { turbo_frame: :results }, url: all_transactions_path do |f| %>
      <%= f.search_field :recipe_no_cont,
            oninput: 'this.form.requestSubmit()', placeholder: "Search By Recipe Number",
            class: "form-control",  type: "search", autofocus: true, autocomplete: "off" %>
    <% end %>
</div>


<%# * show %>
<%= turbo_frame_tag :results do %>
    <%= render partial: "show" %>
<% end %>