<%# locals: (total_balance: @thaali.balance) -%>

<% content_for :title, "New Transaction" %>

<h2 class="heading mb-3">New Transaction</h2>

<%= render "form", url: thaali_transactions_path, total_balance: %>
