<%# locals: (total_balance: @thaali.balance) -%>

<% content_for :title, "New Transaction" %>

<% content_for :heading do %>
  <h2>New Transaction</h2>
<% end %>

<%= render "form", url: thaali_transactions_path, total_balance: %>
