<% content_for :title, "Receipt: #{@transaction.receipt_number}" %>

<% content_for :heading do %>
  <h2>Receipt: <em class="text-secondary"><%= @transaction.receipt_number %></em></h2>
<% end %>

<%= render @transaction %>

<%# * action buttons %>
<% unless current_user.is?("viewer") %>
  <section id="actions">
    <%= render "shared/actions", instance: @transaction %>
  </section>
<% end %>
