<% content_for :title, "Recipe: #{@transaction.recipe_no}" %>

<%= render @transaction %>

<%# * action buttons %>
<% unless current_user.is?("viewer") %>
  <section id="actions">
    <%= render "shared/actions", instance: @transaction %>
  </section>
<% end %>
