<div id="show-header-thaali_takhmeen" class="row py-2 fs-5 fw-semibold">
    <div class="col">
        <th>Thaali No.</th>
    </div>
    <div class="col">
        <th>HOF Name</th>
    </div>
    <div class="col">
        <th>Size</th>
    </div>
    <div class="col">
        <th>Total</th>
    </div>
    <div class="col">
        <th>Fully Paid?</th>
    </div>
</div>