<div id="show-header-thaali_takhmeen" class="row py-2 fs-5 fw-semibold rounded-4 border-bottom border-2 border-info rounded-bottom">
    <div class="col">
        <th>Thaali</th>
    </div>
    <div class="col">
        <th>Name</th>
    </div>
    <div class="col">
        <th>TC</th>
    </div>
</div>
