<%# * Title %>
<h2 class= "text-center">Completed Takhmeens for the year: <%= "#{@year}" %></h2>

<%# * No. of Completed Takhmeens %>
<p class="fs-5 mt-5 fw-bold text-info text-center">Total number of Completed Takhmeens: <%= @total %></p>

<%# * show all Completed Takhmeens %>
<%= render partial: "shared/results",
    locals: { instances: @thaalis, id: "thaalis", path: takhmeens_complete_path(format: :turbo_stream) } %>