<%# * Title %>
<h2 class= "text-center">Pending Takhmeens <span class="text-secondary"> <%= "#{@year}" %> </span> </h2>

<%# * No. of Pending Takhmeens %>
<p class="fs-5 mt-5 fw-bold text-info text-center">Total number of Pending Takhmeens: <%= @total %></p>

<%# * show all Pending Takhmeens %>
<%= render partial: "shared/results",
    locals: { instances: @thaalis, id: "thaalis", path: takhmeens_pending_path(format: :turbo_stream) } %>